body{
  margin:0 auto;
}
.col1 {
  /* border:2px solid blue; */
  height:500px;
  width:100%;
  overflow:hidden;
  margin:0;
  padding:0;
}

h2  {
  font-family:Montserrat;
  color:white;
  text-align:center;
}

video {
  height:auto;
  width:1136px;
  margin:0;

}

#bgvid {
  z-index: -100;
  position: absolute;
}
