body{
  margin:0 auto;
}
.navbar {
  background-color: #131313 !important;
}

.row-fluid {
  width:100%;

}

.col1 {
  height:100%;
  width:100%;
  overflow:hidden;
  margin:0;
  padding:0;
  display: table;
}

.titlewrap {
  height:500px;
  width:100%;
  overflow:hidden;
  margin:0;
  padding:0;
  display: table-cell;
  vertical-align:middle;
}

h2  {
  text-transform: uppercase;
  font-family:Montserrat;
  color:white;
  text-align:center;
  vertical-align: middle;
}


h5{
  font-family:Montserrat;
  color:white;
  text-align:center;
  vertical-align: middle;
}


#bgvid {

  width:100%;
  margin:0;
  opacity: .98;
  z-index: -100;
  position: absolute;
  top:0;
  left:0;
}

.col2 {
  border:1px solid #131313;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  background-color: #131313;
}

.col3 {
  height:350px;
  min-width:100%;
  margin:0;
  padding:0;
  background-color: #131313;
}

.card-body {
  padding: 0.6rem;
}
.card-title {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  color:white;
}

.description {
  font-family: 'Work Sans', sans-serif;
  font-size :12px;
  text-align: center;
  color:white;
}

#soupimg {
  align-self:center;
  height:100px;
  width:100px;
}

#wavimg {
  margin-top: 3px;
  align-self:center;
  width:100px;
  height:100px;
}

.card {
  background-color: #b92727;
}

.skills {
  height:110px;
  max-height:110px;
  max-width: 110px;
  margin: 10px;
  margin-left:18px;
  border-radius: 3px;
  padding:5px;

}

.skillwrap {
  height:100%;
  width:100%;
  padding-top:50px;
  padding-left:15px;
  margin-right:20px;
}

#btn1 {
  position:relative;
  top:36px;
}



@media only screen and (max-width: 768px) {

    .titlewrap {
      height:220px;
    }

    .skills {
      height: 50px;
      max-height:50px;
      max-width: 50px;
      margin: 5px;
      margin-left:18px;
      border-radius: 3px;
      padding:2px;
    }

    .card {
      width:150px;
      height: 150px;

    }

    #soupimg {
      align-self:center;
      height:50px;
      width:50px;
    }

    #wavimg {
      margin-top: 3px;
      align-self:center;
      height:50px;
      width:50px;
    }

    .card-title {
      font-family: 'Work Sans', sans-serif;
      text-align: center;
      color:white;
      font-size:12px;
    }

    .description {
    display:none;
    }

    #btn1 {
      position:relative;
      top:10px;
    }

    #btn2 {
      position:relative;
      top:10px;
    }

    .col2 {
      width:auto;
    }

    .row-fluid {
      width:auto;

    }
   .card-cont {
    width:100%;
   }

}

@media only screen and (min-width: 769px) {

  .skills{
    height: 90px;
    max-height:90px;
    max-width: 90px;
    margin: 5px;
    margin-left:18px;
    border-radius: 3px;
    padding:2px;
  }

}

@media only screen and (min-width: 1200px) {

  .skills{
    height: 110px;
    max-height:110px;
    max-width: 110px;
    margin: 5px;
    margin-left:18px;
    border-radius: 3px;
    padding:2px;
  }

}





